{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="hero-bg">
        <section class="top">
            <header>
                <a href="https://www.mpasal.com">Mpasal</a>
            </header>

            <h1><span>The Easy </span> Shopping Experience</h1>

            <p> Come on walk with us </p>

            <div class="form-container">
                <form action="">
                    <div class="form-lef">
                        <label for="city"> Enter your Shop Name</label>
                        <input type="text" name="city" id="city">
                        <p> Example : Mero Pasal </p>
                    </div>

                    <input type="button" value="Register for free">
                </form>
            </div>
            <footer class="foot">
             &copy; <a href="https://www.mpasal.com"> Mpasal</a> 2020
            </footer>
        </section>
    </div>
</body>
</html>